@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}